<footer>
    <div class="container">
        <footer class="py-5">
            <div class="row">
                <div class="col-6 col-md-2 mb-3">
                    <h5>Most Important Leagues</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="https://www.premierleague.com/" class="nav-link p-0 text-body-secondary">Premier League</a></li>
                        <li class="nav-item mb-2"><a href="https://www.laliga.com/en-GB" class="nav-link p-0 text-body-secondary">La Liga</a></li>
                        <li class="nav-item mb-2"><a href="https://www.legaseriea.it/en" class="nav-link p-0 text-body-secondary">Seria A</a></li>
                        <li class="nav-item mb-2"><a href="https://www.bundesliga.com/de/bundesliga" class="nav-link p-0 text-body-secondary">Bundesliga</a></li>
                        <li class="nav-item mb-2"><a href="https://ligue1.com/" class="nav-link p-0 text-body-secondary">Ligue 1</a></li>
                    </ul>
                </div>
    
                <div class="col-6 col-md-2 mb-3">
                    <h5>Other Leagues</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="https://lpf.ro/liga-1" class="nav-link p-0 text-body-secondary">Superliga</a></li>
                        <li class="nav-item mb-2"><a href="https://www.bundesliga.at/de/" class="nav-link p-0 text-body-secondary">Bundesliga.At</a></li>
                        <li class="nav-item mb-2"><a href="https://www.spl.com.sa/en" class="nav-link p-0 text-body-secondary">Roshn Saudi League</a></li>
                        <li class="nav-item mb-2"><a href="https://www.proleague.be/jpl" class="nav-link p-0 text-body-secondary">Jupiler Pro League</a></li>
                        <li class="nav-item mb-2"><a href="https://sfl.ch/" class="nav-link p-0 text-body-secondary">Swiss Football League</a></li>
                        <li class="nav-item mb-2"><a href="https://www.ligaportugal.pt/en/homepage/" class="nav-link p-0 text-body-secondary">Liga Portugal</a></li>
                        <li class="nav-item mb-2"><a href="https://www.knvb.com/dutch-football/mens-football/eredivisie" class="nav-link p-0 text-body-secondary">Eredivisie</a></li>

                    </ul>
                </div>
    
                <div class="col-6 col-md-2 mb-3">
                    <h5>UEFA Competitions</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="https://www.uefa.com/uefachampionsleague/" class="nav-link p-0 text-body-secondary">Uefa Champions League</a></li>
                        <li class="nav-item mb-2"><a href="https://www.uefa.com/uefaeuropaleague/" class="nav-link p-0 text-body-secondary">Europa League</a></li>
                        <li class="nav-item mb-2"><a href="https://uefa.com/uefaconferenceleague/" class="nav-link p-0 text-body-secondary">Conference League</a></li>
                        <li class="nav-item mb-2"><a href="https://www.uefa.com/uefanationsleague/" class="nav-link p-0 text-body-secondary">Uefa Nations League</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-2 mb-3">
                    <h5>transfermarkt</h5>
                    <ul class="nav flex-column">
                       
                        <li class="nav-item mb-2"><a href="https://www.transfermarkt.com/" class="nav-link p-0 text-body-secondary">transfermarkt</a></li>
                    </ul>
                </div>

                <div class="col-6 col-md-2 mb-3">
                    <h5>Live Score</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Monaco - Barcelona</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Real Madrid - Stuttgart
</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Al Shorta - Al Nassr Riyadh</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Girona - Barcelona</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">CFR - FCSB</a></li>
                    </ul>
                </div>

                
    <div class="col-6 col-md-2 mb-3">
        <h5>Dribbler.com</h5>
        <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Terms and Conditions</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Privacy Policy</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">GDPR and Journalism</a>
            </li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Advertising</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQ</a></li>
        </ul>
    </div>
                <div class="col-md-5 offset-md-1 mb-3">
                    <form action="/subscribe">
                        <h5>Subscribe to our newsletter</h5>
                        <p>Monthly digest of what's new and exciting from us.</p>
                        <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                                <button class="btn btn-dark" type="Subscribe">Subscribe</button>
                            
                        </div>
                    </form>
                </div>
            </div>
    
            <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                <p>© <%= thisYear %> Dribbler, Inc. All rights reserved.</p>
                <ul class="list-unstyled d-flex">
                    <li class="ms-3">
                        <a class="link-body-emphasis" href="https://www.facebook.com/alex.ybs">
                            <img class="social-media" src="/images/icons8-facebook-50.png" alt="Facebook">
                        </a>
                       </li>
                    <li class="ms-3">
                        <a class="link-body-emphasis" href="https://www.instagram.com/alex_ybs14/">
                           <img class="social-media" src="/images/icons8-instagram-48.png" alt="instagram">
                        </a>
                    </li>
                    <li class="ms-3">
                        <a class="link-body-emphasis" href="https://www.tiktok.com/@alexandrudragusinybs">
                           <img class="social-media" src="/images/icons8-tiktok-50.png" alt="tiktok">
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>
</footer>