<%- include ("../partials/header.ejs") %>
<section class="sct-1" >

   <div id="carousel" class="carousel slide" data-bs-ride="carousel" data-bs-pause ="false" data-bs-interval="5000">
      <div class=" all-carousel carousel-inner">
         <div class="carousel-item bg-img-1 active" >
            <div class="content-2024">

              <p class="title"><span class="spain">Spain</span> Secures Fourth European Title with <span class="spain">Oyarzabal’s</span> Late Strike in a <span class="spain">2-1 </span>Victory Over England in Berlin</p>
             </div>
            </div>

         <div class="carousel-item bg-img-2">
            <div class="content-2024">
               <p class="title championsLeagueTitle"><span class="realMadrid">Real Madrid </span> Claims 15th UEFA Champions League Title with a <span class="realMadrid">2-0 </span> Victory Over <span class="dortmund">Borussia Dortmund</span>  in London.</p>
            </div>
         </div>

         <div class="carousel-item bg-img-3">
            <div class="content-2024">
               <p class="title europaLeagueTitle"><span class="atalanta">Atalanta</span> Dominates <span class="leverkusen">Bayer Leverkusen</span> <span class="atalanta">3-0</span>  in Dublin to Claim Their First Europa League Title.</p>
            </div>
         </div>

         <div class="carousel-item bg-img-4">
            <div class="content-2024">
               <p class="title conferenceLeagueTitle"><span class="olympiacos">Olympiacos</span> Makes History: <span class="olympiacos">El Kaabi</span> 's Extra-Time Heroics Seal <span class="olympiacos">1-0</span> Victory Over <span class="fiorentina">Fiorentina</span>  in Athens, Securing the Club's
               First-Ever European Title.</p>
            </div>
         </div>

         <div class="carousel-item bg-img-5">
            <div class="content-2024 news-transfer">
               <p class="title"><span class="dribbler-top">Dribbler’s Top Summer 2024 Transfers:</span> &nbsp;&nbsp;&nbsp;<span class="bronz">3rd</span> Giorgi Mamardashvili from Valencia to Liverpool for 35 mil €</p>
            </div>
         </div>

         <div class="carousel-item bg-img-6">
            <div class="content-2024 news-transfer">
               <p class="title "><span class="argint">2nd</span> &nbsp;&nbsp;&nbsp;Dani Olmo Returns to Barcelona from RB Leipzig in a €62M Deal: La Masia Star Signs Six-Year Contract with €500M Buyout
               Clause</p>
            </div>
         </div>

         <div class="carousel-item bg-img-7">
            <div class="content-2024 news-transfer">
               <p class="title"> <span class="gold">1st</span> &nbsp;&nbsp;&nbsp;Kylian Mbappé Leaves PSG to Join Real Madrid on Historic Free Transfer with €150M Signing Bonus in Blockbuster Move</p>
            </div>
         </div>
      </div>
   </div>

   <br><br><br><h1 class="animation-h1">All the Goals, All the Action,All in One Place with<span class="dribbler"> DRIBBLER</span> !</h1>
</section>

<div class=" card mb-3" >
   <a class="dribbler-news" href="/fotbal-champions-league-supercomputerul-opta-a-facut-analiza-ligii-campionilor-si-a-dezvaluit-principalele-favorite-la-trofeu">
      <img src="/images/news-football.jpg" class="img-news card-img-top" alt="news-football">
   <div class="card-body">
      <h5 class="dribbler-color card-title">Supercomputer Opta has analyzed the <span class="dribblerFocus">Champions League</span> and revealed the main favorites for the trophy.</h5>
      <p class="card-text">Opta’s analysis unveils top Champions League contenders, but who really has the edge...</p>
      <div class="card-footer">
         <small class="text-body-secondary">13.09.2024 17:36</small>
      </div>
   </div>
   </a>
</div>
<br><br><h2>World News</h2><br><br>

<div class="row row-cols-1 row-cols-md-3 g-4">
   <div class="col">
      <a class="dribbler-news" href="/messi-returns-to-top-form">
      <div class="card h-100">
         <img src="/images/lionel-messi-1692504890-114379.jpg" class="card-img-top" alt="lionel-messi">
         <div class="card-body">
            <h5 class=" dribbler-color card-title"><span class="dribblerFocus">VIDEO</span>. Messi returns to top form! The Argentinian scored twice in just four minutes.</h5>
            <p class="card-text">The eight-time Ballon d'Or winner had not played since his right ankle injury in the Copa America final on July 14, when.....</p>
          </div>
         <div class="card-footer">
           <small class="text-body-secondary"> 3 hours ago</small>
         </div>
         </div>
      </a>
   </div>
   <div class="col">
      <a class="dribbler-news" href="/barcelona-received-a-€250,000,000-offer-for-Lamine Yamal ">
      <div class="card h-100">
         <img src="/images/lamine-yamal-en-el-duelo-entre-el-fc-barcelona-y-el-athletic-club-en-la-jornada-dos-de-laliga-ea-sports-2024-25.webp" class="card-img-top" alt="Lamine Yamal">
         <div class="card-body">
            <h5 class="dribbler-color card-title"><span class="dribblerFocus">Amazing!</span> Barcelona has received a €250,000,000 offer for Lamine Yamal.</h5>
            <p class="card-text">Following these performances, FC Barcelona has been overwhelmed with offers for the young talent. The biggest offer
            received this summer was around 250 million euros from...</p>
         </div>
         <div class="card-footer">
            <small class="text-body-secondary">1 hour ago</small>
         </div>
      </div>
   </a>
   </div>

   <div class="col">
      <a class="dribbler-news" href="/ianis-hagi-impresses-the-Scots">
      <div class="card h-100">
         <img src="/images/skysports-ianis-hagi-rangers_4913676.jpg" class="card-img-top" alt="Ianis hagi">
         <div class="card-body">
            <h5 class="dribbler-color card-title">Ianis Hagi impressed the Scots: <span class="dribblerFocus">"He deserves a second chance at Rangers!"</span></h5>
            <p class="card-text">Hagi deserves a second chance at Rangers due to his behavior. Since returning to the team, he has been a model of
            professionalism and an excellent example for...</p>
         </div>
         <div class="card-footer">
            <small class="text-body-secondary">20 hours ago</small>
         </div>
      </div>
   </a>
   </div>
</div>
<br><br><br><br>

<div class=" card mb-3">
   <a class="dribbler-news"href="/Vladimír-Weiss-,-one-of-the-best-coaches-in-the-history-of-Slovakia">
      <img src="/images/vladimir-weiss-mzia-sagabelidze.jpg" class="img-news card-img-top" alt="news-football">
      <div class="card-body">
         <h5 class="dribbler-color card-title"><span class="dribblerFocus">DribblerFocus:</span>  Vladimír Weiss, one of the best coaches in the history of Slovakia.</h5>
         <p class="card-text">To fully capture the impressive journey of each member of the Weiss family, a saga-like book would be necessary.
         However, the football world’s attention is now focused on...
         </p>
         <div class="card-footer">
            <small class="text-body-secondary">48 minute ago</small>
         </div>
      </div>
   </a>
</div>

<br><br> <h2>SuperLiga Romania</h2><br><br>



<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
      <div class="card">
      <a class="dribbler-news" href="/Elias-Charalambous-,-statements before-CFR - FCSB">
         <img src="/images/edits-for-fanatik-6-4.webp" class="card-img-top img-fluid" alt="fcsb-cfr">
         <div class="card-body">
            <h5 class="card-title">Elias Charalambous, statements before CFR - FCSB: <span class="dribblerFocus">"We know the match will be tough!"</span> </h5>
            <p class="card-text">In the context of absences, Charalambous mentioned that Kiki, Edjouma, and Lixandru will not be available for the match
            against...</p>
         </div>
      </a>
      </div>
   </div>

   <div class="col">
      <div class="card">
         <a class="dribbler-news" href="/Claudiu-Petrila-couldn't-hold-back">
         <img src="images/claudiua-petrila.jpg" class="card-img-top img-fluid" alt="claudiu-petrila">
         <div class="card-body">
            <h5 class="card-title">Claudiu Petrila couldn't hold back anymore and spoke about Neil Lennon: <span class="dribblerFocus">"If we had continued like that..."</span> </h5>
            <p class="card-text">Putting aside the good moments, he also spoke about the Neil Lennon era, an era that...</p>
         </div>
      </a>
      </div>
   </div>
 <div class="col">
      <div class="card">
         <a class="dribbler-news" href="/Rapid-Bucuresti-has-officially-presented-Aaron-Boupendza">
         <img  src="/images/aaron-boupendza.webp" class="card-img-top img-fluid" alt="aaron-boupendza">
         <div class="card-body">
            <h5 class="card-title">Rapid București has officially presented <span class="dribblerFocus">Aaron Boupendza</span> , the former top scorer of the <span class="dribblerFocus">Turkish Super League</span> .</h5>
            <p class="card-text">Aaron Boupendza is the new striker for Rapid. The Gabonese forward, who was the top scorer of the Turkish Super League
            in the 2020/21 season with 22 goals for... </p>
         </div>
      </a>
      </div>
   </div>
   <div class="col">
      <div class="card">
         <a class="dribbler-news" href="/Dennis-Harut-leave-FCSB">
            <img src="/images/denis-harut.png" class="card-img-top img-fluid" alt="denis-harut">
            <div class="card-body">
               <h5 class="card-title">Deemed undesirable at FCSB, Denis Haruț has signed with a new team and will continue
                  playing in <span class="dribblerFocus">Liga 1</span> .</h5>
               <p class="card-text">Haruț last played for FCSB, but he has also played for Poli Timișoara and FC Botoșani
                  during his career.The football team Sepsi OSK Sfântu Gheorghe has reached an agreement with defender
                  Denis Haruț, from FCSB, the
                  Covasna-based club announced on Thursday on its Facebook page.</p>
            </div>
         </a>
      </div>
   </div>
   </div>

  </div>
<br><br><br><br>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
   integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
   <script src="/script.js"></script>
</body>

</html>

<%- include("../partials/footer.ejs") %>





